extends templete.pug 

block css
    style 
        include ../static/styles.css
        include ../static/navfoot.css

block content 
    section.gallery 
        p.large Welcome to Adhish Dance Academy.
        p.small Eat Dance Sleep Repeat!

    section#sponsors
        p.large.slarge  This is our sponsor section, following are our sponsors
        p.logocontainer 
            img(src="../static/logo1.png", alt="logo").logo
            img(src="../static/logo2.png", alt="logo").logo
            img(src="../static/logo3.png", alt="logo").logo
            img(src="../static/logo4.png", alt="logo").logo

    section.details
        p.large.slarge Some information about US! 
        p.small This is a dance club that is almost  10 years old. Following cattegories of dance classesare available here!
            ol.small
                li.sty Classical
                li.sty Pop 
                li.sty Free Style
        p.small The teachers here are excellent in their field that is their style of dance.
        p.small We promise to make your future as bright as a sun shining on a summer sunny day!
        p.small We are a team to highly skilled professionals, who are earger to entertain more people in our domain! We assure you to not let your hand go away untill you are satisfied from our services! 