extends templete.pug 

block css
    style 
        include ../static/styles.css
        include ../static/navfoot.css

block content 
    section.gallery 
        p.large Welcome to Adhish Dance Academy.
        p.small Eat Dance Sleep Repeat!

    section#sponsors
        p.large.slarge  This is our sponsor section, following are our sponsors

    section.details
        p This is the details  section

