extends templete.pug 

block css
    style 
        include ../static/styles.css
        include ../static/navfoot.css

block content 
    section.gallery 
        p.large Welcome to Adhish Dance Academy.
        p.small Eat Dance Sleep Repeat!

    section#sponsors
        p.large.slarge  This is our sponsor section, following are our sponsors
        p.logocontainer 
            img(src="../static/logo1.png", alt="logo").logo
            img(src="../static/logo2.png", alt="logo").logo
            img(src="../static/logo3.png", alt="logo").logo
            img(src="../static/logo4.png", alt="logo").logo

    section.details
        p.large.slarge Some information about US! 
        p.small This is a dance club that is almost  10 years old. Following cattegories of dance classesare available here!
            ul.small  
                li.small Classical
                li.small Pop 
                li.small Free Style

