extends templete.pug 

block css
    style 
        include ../static/form.css
        include ../static/navfoot.css

block content 
    form(action="#", method="post") 
        input#name(type="text", name="name" placeholder="Enter Your Name") 
        input#name(type="tel", name="mobile" placeholder="Enter Your Mobile Number") 
        input#name(type="email", name="email" placeholder="Enter Your E-mail I'd")
        textarea#address(name="address", cols="30", rows="10" placeholder="Enter Your Addres") 
        input#name(type="text", name="question" placeholder="Ask any Question that you would like us to address") 
        