<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block css
        title= tit
    body 
        nav.navigation
            ul.no-bullets 
                li.hov #[a(href="/") Home] 
                li.hov #[a(href="/register") Register] 
                li.hov #[a(href="/#sponsors") Sponsors] 
                li.hov #[a(href="/#footer") Contact Us] 
        block content 
        footer.footer#footer 
            p Contact us at e-mail: support@adhishdance.com 
            p You can also contact us on number +91 96457230.
            p All rights reserved ©Adhish Dance Academy 2020