<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block css
        title= tit
    body 
        nav.navigation
            ul.no-bullets 
                li.hov #[a(href="/") Home] 
                li.hov #[a(href="/register") Register] 
                li.hov #[a(href="/#sponsors") Sponsors] 
                li.hov #[a(href="/#footer") Contact Us] 
        block content 
        footer.footer#footer 
            p Contact us at e-mail: support@adhishdance.com 
            p You can also contact us on number +91 96457230.
            div.footer-header 
                h3 Social Media Handles:
            div 
                a.link.hov(href="https://www.linkedin.com/in/adhish-bahl-4113591b7/", target="_blank") 
                    img.ssicon(src="../static/linkedin.svg", alt="LinkedIn")
                a.link.hov(href="http://github.com/adhish-bahl", target="_blank") 
                    img.ssicon(src="../static/github.svg", alt="GitHub")
                a.link.hov(href="https://twitter.com/adhish_bahl", target="_blank") 
                    img.ssicon(src="../static/twitter.svg", alt="Twitter")
                a.link.hov(href="https://instagram.com/adhish.bahl_", target="_blank") 
                    img.ssicon(src="../static/instagram.svg", alt="Instagram")
            
            
            
            //- <div class="footer-header"><h3>Social Media Handles:</h3></div>
            //- <div>
            //-     <a href="https://www.linkedin.com/in/adhish-bahl-4113591b7/" target="_blank" class="link hover"><img class="ssicon" src="/images/linkedin.svg" alt="LinkedIn"></a>
            //-     <a href="http://github.com/adhish-bahl" target="_blank" class="link hover"><img src="/images/github.svg" alt="GitHub" class="ssicon"></a>
            //-     <a href="https://twitter.com/adhish_bahl" target="_blank" class="link hover"><img src="/images/twitter.svg" alt="Twitter" class="ssicon"></a> 
            //-     <a href="https://instagram.com/adhish.bahl_" target="_blank" class="link hover"><img src="/images/instagram.svg" alt="Instagram" class="ssicon"></a>
            //- </div>


            p All rights reserved ©Adhish Dance Academy 2020