.{
    outline: none;
    border: black 1px solid;
}

.form input, .form textarea {
    display: block;
    width: 40vw;
    text-align: center;
    padding: 6px;
    margin: 8px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 23vw;
    border: black 1px solid;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

h1, h3 {
    text-align: center;
    margin: 2rem;
}

h1 {
    margin-bottom: 0%;
}

h3 {
    margin-top: 0%;
}

.form button {
    text-align: center;
    padding: 6px;
    margin: 8px;
    border-radius: 10px;
    width: 10vw;
}

.form textarea {
    height: 6rem;
}