section {
    height: 500px;
    border: 1px solid rgb(16, 16, 80);
}

.gallery {
    background-image: url("/static/dance.jpg");
    background-size: cover;
    /* opacity: .5; */
    /* background: "dance.jpg" cover/center center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sponsors::before {
    background-image: url(../static/dancing2.jpg);
    background-size: cover;
    opacity: .4;
    z-index: -1;
    width: 100%;
    height: inherit;
    position: absolute;
    content: "";
}

.details::before {
    background-image: url(../static/dance3.jpg);
    background-size: cover;
    opacity: .7;
    z-index: -1;
    width: 100%;
    height: inherit;
    position: absolute;
    content: "";
}

.large {
    font-size: 3rem;
    text-align: center;
    color: rgb(235, 235, 226);
    /* margin: 20px; */
}

.small {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(235, 235, 226);
    margin: 20px;
}

.slarge {
    color: rgb(0, 0, 0);
    margin: 20px;
}

#sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logocontainer {
    display: flex;
    justify-self: center;
    align-items: center;
}

.logo{
    width: 120px;
    margin: 15px 30px;
}